body {
  background-image: url('/img/gearsBGLight.jpg')
}

nav {
  width: 23%;
}

#content {
}

.game-container {
  height: 500px;
  text-align: center;
}

.content-holder {
  max-width: 50%;
}

.game-container * {
  padding: 7px;
  margin: 7px;
}
